regex==2023.6.3
requests==2.31.0
Django==4.2.2
Pillow==9.5.0
opencv-python-headless==4.8.0.74

transformers==4.30.2
easyocr==1.7.0
pytesseract==0.3.10
fugashi==1.2.1
unidic-lite==1.0.8
sacremoses==0.0.53
safetensors==0.3.1
sentencepiece==0.1.99

psycopg[binary]==3.1.9
pymysql==1.1.0
