Django==4.2.2
easyocr==1.7.0
fugashi==1.2.1
numpy==1.25.0
opencv-python-headless==4.8.0.74
Pillow==9.5.0
regex==2023.6.3
requests==2.31.0
sacremoses==0.0.53
safetensors==0.3.1
sentencepiece==0.1.99
torch==2.0.1
transformers==4.30.2
unidic-lite==1.0.8
psycopg[c]==3.1.9
pymysql==1.1.0
